{
  "name": "defaultdb",
  "port": 5432,
  "options": ["autoddl:enabled"],
  "nodes": [
    NODES_PLACEHOLDER
  ],
  "users": [
    {
      "username": "app",
      "password": "APP_PASSWORD_PLACEHOLDER",
      "superuser": false,
      "service": "postgres",
      "type": "application"
    },
    {
      "username": "admin",
      "password": "ADMIN_PASSWORD_PLACEHOLDER",
      "superuser": true,
      "service": "postgres",
      "type": "admin"
    },
    {
      "username": "pgedge",
      "password": "PGEDGE_PASSWORD_PLACEHOLDER",
      "superuser": true,
      "service": "postgres",
      "type": "internal_admin"
    },
    {
      "username": "pgcat_auth",
      "password": "PGCAT_AUTH_PASSWORD_PLACEHOLDER",
      "superuser": false,
      "service": "postgres",
      "type": "pooler_auth"
    },
    {
      "username": "pgcat_admin",
      "password": "PGCAT_ADMIN_PASSWORD_PLACEHOLDER",
      "superuser": false,
      "service": "pgcat",
      "type": "other"
    }
  ]
}
